/* #title{
  font-family: 'Schoolbell', cursive;
  text-align: center;
  
} */

p, h4 {
  display: inline;
}

.container{
  font-family: 'Open Sans', sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.gameplay{
  border: 2px solid silver;
}

#choice{
  padding-left: 15%;
}

.roundChoice{
  display: inline;
}

#prevChoices{
  display: flex;
}
.border-red{
  border: 2px solid red;
}
