/* #title{
  font-family: 'Schoolbell', cursive;
  text-align: center;
  
} */

.container{
  font-family: 'Open Sans', sans-serif;
  background-color: #2DBADB;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.gameplay{
  border: 2px solid silver;
  height: 200px;
  background-color: white;
}

#choice{
  padding-left: 15%;
}

.roundChoice{
  display: inline;
}

#prevChoices{
  display: flex;
}
